body { 
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px; 
	color: #00000; 
	background-image: url(./images/paper.png);
}   
/**************** Pseudo classes ****************/ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;  
}
li {
    float: left;
    border-right:1px solid #bbb;
}
li:last-child {
    border-right: none;
}
li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #bd9c7b;
}
h1 {
    margin: 10px;
}
a{
	color: #ffffff
}
a:hover{
	color: #ffffff
}
p.login{
	text-align:center;
} 
/************************* ID's  *************************/ 
#header {
  	position: relative;
	float: center;
	height: 200px;
	background-image: url(./images/logo3.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
}  
#nav { 	
	position: relative;	
    background-color: #203331;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    float:center;	
} 
#bckgrnd{
	position: relative;
	background-image: url(./images/wood.png);
	z-index: 1;
	margin-top: 10px;
	margin-left: 100px;
    margin-right: 100px;
    height: 450px;
	float: center;
	color: #ffffff;	
}
#section{
	z-index:2;
	color: #000000;
	position: absolute;	
	margin-top: 50px;
	margin-left: 50px;
    margin-right: 50px;
	margin-bottom: 50px;	
}
#footer {	
	position: relative;
	margin-left: 100px;
	margin-right: 100px;
	float: center;
    color:black;
    clear:both;
    text-align:center;
   	 
}